#spin {
    width: 50px;
    height: 50px;
    margin: 1rem;
    border: 5px solid transparent;
    border-color: #999 transparent;
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
    box-shadow: 0 0 1rem rgb(0 0 255 / 40%);
}

#spin::after {
    content: '⚙️';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: pulse 1.5s ease-in-out infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes pulse {

    0%,
    100% {
        transform: translate(-50%, -50%) scale (1);
    }

    50% {
        transform: translate(-50%, -50%) scale(1.25);
    }
}

#loader {
    width: 50px;
    height: 50px;
    margin: 1rem;
    border: 5px solid transparent;
    border-color: #999 transparent;
    border-radius: 50%;
    transition: spin 1.5s linear infinite;
    box-shadow: 0 0 1rem rgb(0 0 255 / 40%);
}

#loader::after {
    content: '⚙️';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 1.5s ease-in-out;
    font-size: 2rem;
}

#loader:hover {
    transform: rotate(360deg);
}

#loader:hover::after {
    transform: translate(-50%, -50%) scale(1.5);
}