@media only screen and (min-width: 38rem) {
    :root {
        --headings-font: "TASA Explorer", sans-serif;
        --text-font: "TikTok Sans", sans-serif;
        --main-color: #006361;
        --text-color: #f5f5f5;
        --darker-color: #004846;
        --lighter-color: #00908d;
        --border: var(--darker-color) solid 2px;
    }

    /* HEADER */

    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 5px 32px auto 1fr;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        margin: 0;
    }

    .navigation ul {
        flex-direction: row;
        justify-content: end;
        background-color: #ffffff;
    }

    .navigation a {
        border: none;
        padding: .5rem 1rem;
        font-size: large;
        color: var(--darker-color);
    }

    .navigation a:hover {
        background-color: var(--text-color);
        border-bottom: 3px solid var(--darker-color);
        font-weight: 700;
    }

    .navigation li.current {
        color: var(--darker-color);
        background-color: #ddd;
    }

    /* MAIN */

    .hero h1 {
        width: 360px;
        left: 20px;
        font-size: 48px;
    }

    .hero a {
        right: 70px;
        bottom: 40px;
        width: 220px;
        font-size: 36px;
    }

    .grid section {
        padding: .8rem;
    }

    .list section {
        grid-template-columns: 150px 1.5fr 1fr 250px;
    }

    .display {
        display: grid;
        grid-template-columns: 1.5fr 1fr 1fr;
        column-gap: 1rem;
    }

    /* FOOTER */

    footer {
        flex-direction: row;
    }

    .social-media {
        padding: 1.5rem;
    }

    .social-media a {
        width: 44px;
        height: 44px;
        margin: .3rem;
    }

    .social-media img {
        width: 28px;
        height: 28px;
    }
}