@media only screen and (min-width: 38rem) {
    :root {
        --headings-font: "TASA Explorer", sans-serif;
        --text-font: "TikTok Sans", sans-serif;
        --main-color: #530053;
        --text-color: #f5f5f5;
        --darker-color: #33033e;
        --lighter-color: #5f3c67;
        --border: var(--darker-color) solid 2px;
    }

    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 5px 32px auto 1fr;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        margin: 0;
    }

    .navigation ul {
        flex-direction: row;
        justify-content: end;
        background-color: white;
    }

    .navigation a {
        border: none;
        padding: .5rem 1rem;
        font-size: large;
        color: var(--darker-color);
    }

    .navigation a:hover {
        background-color: var(--text-color);
        border-bottom: 3px solid var(--darker-color);
        font-weight: 700;
    }

    .navigation li.current {
        background-color: rgb(199, 199, 199);
    }
}