:root {
    --headings-font: "TASA Explorer", sans-serif;
    --text-font: "TikTok Sans", sans-serif;
    --main-color: #006361;
    --text-color: #f5f5f5;
    --darker-color: #004846;
    --lighter-color: #00908d;
    --border: var(--darker-color) solid 2px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 5px 36px auto 44px;
    padding: 5px 0;
    align-items: end;
    border-bottom: solid 1px #ccc;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    grid-column: 2/3;
}

header span {
    font-size: 1.4rem;
    font-family: var(--headings-font);
    color: var(--main-color);
    padding-bottom: 3px;
}

h1 {
    margin-left: 10px;
    color: var(--darker-color);
    font-family: var(--headings-font);
}

h2,
h3 {
    font-family: var(--headings-font);
    font-weight: 500;
}


p {
    font-family: var(--text-font);
}

footer {
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    padding: 1rem 10px;
    text-align: center;
    color: var(--text-color);
    font-family: var(--text-font);
}

/* Class Selectors */
/* HEADER */

.hamburger {
    background: none;
    margin-bottom: .3rem;
    border: none;
    font-size: 1.5em;
    color: var(--darker-color);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
    grid-column: 1/5;
    margin: 5px 0 -5px;
}

.navigation ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    background-color: var(--main-color);
}

.navigation a {
    display: block;
    border-bottom: solid 1px #9d9c9c;
    padding: .5rem 10px;
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--headings-font);
    font-weight: 500;
}

.navigation a:hover {
    background-color: var(--lighter-color);
    font-weight: 700;
}

.navigation li.current {
    color: var(--text-color);
    background-color: var(--darker-color);
}

/* MAIN */

.hero {
    position: relative;
}

.hero span {
    position: absolute;
    margin: 10px;
    width: 220px;
    font-size: 34px;
    font-family: var(--headings-font);
    color: #002d2b;
    font-weight: 500;
}

.hero a {
    display: block;
    position: absolute;
    right: 30px;
    bottom: 20px;
    width: 180px;
    border-radius: 20px;
    padding: .5rem;
    background-color:#004846c1;
    text-decoration: none;
    font-family: var(--headings-font);
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: var(--text-color);
}

.hero a:hover {
    background-color: var(--darker-color);
    font-weight: 600;
}

.hero img {
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: center;
    align-content: center;
}

.layout {
    margin: 10px;
}

.layout button {
    margin: 1rem .5rem;
    border: var(--border);
    border-radius: 8px;
    padding: 8px;
}

.layout button:hover {
    background-color: #ddd;
}

.layout button img {
    width: 36px;
    height: 36px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    align-items: center;
    margin-bottom: 1.5rem;
}

.grid section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 265px;
    box-shadow: 5px 5px 10px 2px #4d4d4d6f;
    padding: 3rem;
    background-color: #ddd;
}

.grid img {
    padding: 1rem 3rem;
    width: 100%;
    height: auto;
}

.grid p {
    text-align: center;
    padding: 0.2rem 0.4rem;
}

.grid a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: var(--text-font);
    color: #000063;
}

.grid a:hover {
    border-bottom: var(--border);
}

.list {
    margin-bottom: 1.5rem;
}

.list section {
    display: grid;
    grid-template-columns: 120px 1.5fr 1fr 100px;
    margin-bottom: .5rem;
    border-bottom: var(--border);
    background-color: var(--text-color);
}

.list p {
    padding: .5rem;
}

.list a {
    font-family: var(--text-font);
    word-wrap: break-word;
    padding: .5rem;
    color: #000063;
}

.display {
    display: flex;
    flex-direction: column;
    row-gap: .8rem;
    margin: 0 10px;
}

.display section {
    background-color: #ddd;
    border-radius: 10px;
    padding-bottom: .7rem;
}

.display h2 {
    margin-bottom: .7rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: .3rem 1rem;
    background-color: var(--darker-color);
    color: var(--text-color);
}

.display p {
    margin: 0 10px;
    padding: .15rem;
}

.display #weather {
    display: grid;
    grid-template-columns: .5fr 1.5fr;
}

.display #weather h2 {
    grid-column: 1/3;
}

.display #weather h3,
.display #weather p {
    grid-column: 2/3;
    margin: 0;
}

.display #weather img {
    grid-row: 2/7;
    width: 100px;
    height: auto;
    margin: 0 auto;
}

.adds {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 1rem;
    row-gap: 1rem;
    margin: 1rem 10px;
}

.adds section {
    display: grid;
    grid-template-columns: 0.7fr 1.5fr;
    background-color: #ddd;
    border-radius: 10px;
    padding: .3rem;
}

.adds h2, .adds h3 {
    grid-column: 1/3;
    text-align: center;
}

.adds h2 {
    margin-top: .5rem;
}

.adds h3 {
    margin-bottom: .5rem;
    border-bottom: 1px solid var(--darker-color);
    padding-bottom: .5rem;
}

.adds img {
    grid-column: 1/2;
    grid-row: 3/6;
    width: 100px;
    margin: 0 auto;
    padding: 10px;
}

.adds p, .adds a {
    grid-column: 2/3;
}

.adds a {
    font-family: var(--text-font);
    color: #000063;
}

/* FOOTER */

.info {
    text-align: start;
}

.title {
    font-weight: 600;
}

.social-media {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social-media a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    margin: 1rem;
    border-radius: 30px;
    background-color: var(--text-color);
}

.social-media img {
    width: 40px;
    height: 40px;
}

.social-media a:hover {
    background-color: #ddd;
}