@media only screen and (min-width: 38rem) {
    :root {
        --headings-font: "TASA Explorer", sans-serif;
        --text-font: "TikTok Sans", sans-serif;
        --main-color: #dc6300;
        --text-color: #f5f5f5;
        --darker-color: #7e3900;
        --lighter-color: #ee9c5a;
        --additional-color: #007f90;
        --font-color: #04002c;
    }

    main {
        max-width: 1000px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 5px 32px auto 1fr;
    }

    h1 {
        margin-left: 10px;
    }

    /* Class Selectors */
    /* HEADER */

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        margin: 0;
    }

    .navigation ul {
        flex-direction: row;
        justify-content: end;
        background-color: var(--text-color);
    }

    .navigation a {
        border: none;
        padding: .5rem 1rem;
        font-size: large;
        color: var(--darker-color);
    }

    .navigation a:hover {
        background-color: var(--text-color);
        border-bottom: 3px solid var(--darker-color);
        font-weight: 700;
    }

    .navigation li.current {
        color: var(--darker-color);
        background-color: #ddd;
    }

    /* BODY */
    /* Home page */

    .hero span {
        font-size: 56px;
        width: 500px;
    }

    .layout {
        display: grid;
        grid-template-areas: 
        "adds next"
        "calendar next";
        column-gap: 20px;
        margin: 10px;
    }

    .adds {
        grid-area: adds;
    }

    .calendar {
        grid-area: calendar;
        height: auto;
    }

    .next {
        grid-area: next;
    }

    .location {
        display: grid;
        grid-template-areas:
            "maps name"
            "maps address"
            "maps info";
        grid-template-rows: 1fr 1.5fr 1.5fr;
        margin: 0 10px;
        padding: 0;
    }

    .location img {
        margin: 0;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .location a {
        margin: 0;
    }

    .location address {
        margin: .8rem 10px .2rem;
    }

    .location p {
        padding: 0 .5rem;
    }

    /* Share Page */

    .share {
        display: grid;
        grid-template-columns: 1fr 1.2fr;
    }

    .share form {
        grid-column: 1/2;
    }

    .share .sub {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    #set {
        grid-column: 2/3;
        grid-row: 2/3;
        margin: 2rem 10px 2rem 10px;
    }

    #set section {
        height: 100px;
    }

    #set a {
        top: 52px;
        right: 40px;
        margin: auto;
    }
}