@media only screen and (min-width: 38rem) {

    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 36px auto;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    section img {
        width: 80%;
    }

    .hamburger {
        display: none;
    }
    
    .navigation {
        display: block;
        border-bottom: 1px solid #ddd;
    }
    
    .navigation ul {
        flex-direction: row;
    }
    
    .navigation a {
        border: none;
        padding: .5rem 1rem;
        font-size: large;
    }

    .first {
        grid-column: 1/3;
    }

    .second {
        grid-column: 3/4;
    }

    .courses {
        grid-column: 1/4;
    }

    .courses nav {
        margin: 0;
    }

    .courses div {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .courses p {
        grid-column: 1/4;
    }

    .courses ul {
        column-gap: 2rem;
    }
}