:root {
    --headings-font: "TASA Explorer", sans-serif;
    --text-font: "TikTok Sans", sans-serif;
    --main-color: #000853;
    --text-color: #f5f5f5;
    --darker-color: #10033e;
    --lighter-color: #9a9cc883;
    --border: var(--darker-color) solid 2px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--main-color);
}

h1 {
    padding: 0.7rem;
    text-align: center;
    font-family: var(--headings-font);
    color: var(--text-color);
}

div {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

section {
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: var(--lighter-color);
}

h2 {
    padding: 0.4rem;
    text-align: center;
    color: var(--darker-color);
    font-family: var(--headings-font);
}

p {
    text-align: center;
    font-family: var(--text-font);
}

img {
    padding: 1rem;
    width: 100%;
    height: auto;
}

footer {
    padding: 0.7rem;
    background-color: var(--main-color);
    color: var(--text-color);
    font-family: var(--text-font);
    font-size: large;
    text-align: center;
}
