:root {
    --headings-font: "TASA Explorer", sans-serif;
    --text-font: "TikTok Sans", sans-serif;
    --main-color: #530053;
    --text-color: #f5f5f5;
    --darker-color: #33033e;
    --lighter-color: #5f3c67;
    --border: var(--darker-color) solid 2px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 36px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ccc;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.5rem;
    font-family: var(--headings-font);
    color: var(--main-color);
    padding-bottom: 3px;
}

h1 {
    margin-left: 10px;
    color: var(--darker-color);
    font-family: var(--headings-font);
}

section {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 8px;
    background-color: #ddd;
}

section h2 {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding: .6rem;
    font-family: var(--headings-font);
    background-color: var(--main-color);
    color: var(--text-color);
    font-weight: 500;
    text-align: center;
}

section p {
    padding: 1rem;
    font-family: var(--text-font);
}

section img {
    width: 400px;
    max-width: 100%;
    height: auto;
    margin: 44px auto;
}

footer {
    background-color: var(--main-color);
    padding: 1rem 10px;
    text-align: center;
    color: var(--text-color);
    font-family: var(--text-font);
}

/* Class Selectors */

.hamburger {
    background: none;
    margin-bottom: .3rem;
    border: none;
    font-size: 1.5em;
    color: var(--darker-color);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
}

.navigation a {
    display: block;
    border-bottom: solid 1px #9d9c9c;
    padding: .5rem 10px;
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--headings-font);
    font-weight: 500;
}

.navigation a:hover {
    background-color: var(--lighter-color);
    font-weight: 700;
}

.navigation li.current {
    background-color: var(--darker-color);
}

.courses ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    list-style: none;
    margin: 1rem;
}

.courses a {
    display: block;
    border: var(--border);
    border-radius: 12px;
    padding: .4rem;
    text-decoration: none;
    text-align: center;
    background-color: var(--lighter-color);
    color: var(--text-color);
    font-family: var(--headings-font);
    font-size: 20px;
}

.courses a:hover {
    background-color: var(--darker-color);
}

.courses div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    padding-bottom: 15px;
}

.courses div h3 {
    margin: 0 1rem;
    border-radius: 12px;
    padding: .4rem;
    font-family: var(--text-font);
    font-weight: 600;
    text-align: center;
    color: var(--text-color);
}

.courses p {
    grid-column: 1/3;
    text-align: center;
}

.social-media {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social-media a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    margin-bottom: .5rem;
    border: var(--border);
    border-radius: 16px;
    background-color: var(--text-color);
}

.social-media img {
    width: 26px;
    height: 26px;
}

.social-media a:hover {
    background-color: #ddd;
}